/*

    Main color: #d5a4f7
    Tints:
    Shades:

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* makes rem eql to 10px */
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/*------------------------------------------
    HEADER SECTION
--------------------------------------------*/

header {
    display: flex;
    height: 9.6rem;
    align-items: center;
    padding: 0 4.8rem;
    background-color: #d5a4f7;
}

.logo {
    height: 2.2rem;
}

/*------------------------------------------
    MAIN / Nav SECTION
--------------------------------------------*/

body {
    height: 100%;
    background-color: #fbf6fe;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100%;
}

.mainNav {
    height: 100%;
}

.navItems {
    background-color: #aa83c6;
    height: 100%;
}

.navItems li:visited,
.navItems li:link {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}

.navItems li:hover,
.navItems li:active {
    text-decoration: none;
    color: black;
    font-weight: 800;

}

.navItem {
    padding: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #fbf6fe;
}

/*------------------------------------------
    Service Section
--------------------------------------------*/

.displayContents {
    max-width: 120rem;
    max-height: 10rem;
    background-color: black;
}

.taxBracketSections {
    justify-content: center;
}

.serviceDisplay {
    background-color: white;
    padding: 7.2rem 4.8rem;
}

.sectionIcon {
    height: 2rem;
    width: 2rem;
    color: black;
}

.displayHeader {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.2rem;
}

.displayHeading {
    font-size: 1.8rem;
    font-weight: 500;
}


.ProvinceTaxBracket {
    margin-bottom: 2.4rem;
}

.taxBracketDisplayDecoration {
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    max-width: 35rem;
}

.provincialAndFederalTaxBrackets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

/*------------------------------------------
    Salary Calculator layout Section
--------------------------------------------*/

.checkBoxes {
    display: flex;
    justify-content: center;
    padding: 4.8rem 0rem;
}

.checkBoxFlexBox {
    display: flex;
    gap: 30%;
}

.checkBoxContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.checkBoxContainer label{
    align-self: center;
}

/*------------------------------------------
    Salary Calculator Main Section
--------------------------------------------*/

